body {
  height: 200%;
  /* background-image: url("../../public/PortfolioWiremock.jpg"); */
  /* background-image: url("../../public/PortfolioWiremock.jpg"); */
  background-color: #f7ede2;
  background-repeat: no-repeat repeat;
  /* background-size: cover; */
  background-blend-mode: soft-light;
  /* mix-blend-mode: soft-light; */
}

* {
  box-sizing: border-box;
}

.aboutMe-container {
  display: flex;
  padding: 150px;
  column-gap: 25px;
}

.right-container {
  flex-direction: column;
  justify-content: center;
  text-overflow: inherit;
}

.left-container {
  /* padding: 20px; */
  width: 400px;
  height: 300px;
  display: flex;
}

.image {
  border-radius: 60px 100px 50px 20px;
}
